* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: 'Josefin Sans', 'Sans-sérif';
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
}
section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px 0 15px;
    margin-top: 200px;
}

.main-wrapper {
    max-width: 1400px;
    margin: auto;
}

/* header desktop */
.desktop-header {
    display: flex;
}
.logo {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}
.navigation {
    position: relative;
    left: 55px;
    display: flex;
    align-content: center;
    font-size: 18px;
    margin-top: 50px;
    gap: 50px;
    transform: scale(1);
}
.navigation a {
    position: relative;
}
.navigation a::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 200ms;
}
.navigation a:hover::after {
    width: 100%;
}
.navigation li:hover {
    transform: scale(1.15);
    transition: transform 200ms;
}
.download-cv-button {
    width: 60px;
    height: 30px;
    font-family: 'Josefin Sans';
    text-align: center;
    background-color: black;
    font-size: 18px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transform: scale(1);
    transition: all 200ms;
    transition-delay: 0, 100ms;
}
.download-cv-button:hover {
    transform: scale(1.10);
    background-color: white;
    color: black;
}
.cv-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 38px 0 0 0;
    gap: 5px;
}

/* header tab */
.tab-header {
    display: none;
}
.download-cv-button-tab {
    display: none;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    color: #4ff3ee;
    border-radius: 5px;
    margin-top: 25px;
}

/* header mobile */
.mobile-header {
    display: none;
    justify-content: space-between;
    align-items: center;
}
.mobile-menu {
    display: none;
    height: 35px;
    color: white;
    background-color: black;
    border: 1px solid black;
}

.welcoming-message {
    font-family: 'Inconsolata', 'Sans-sérif';
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 300px;
    gap: 150px;
    font-size: 90px;
}

.title-section {
    font-family: 'Inconsolata', 'Sans-sérif';
    letter-spacing: 5px;
    font-size: 45px;
    font-weight: 100;
    margin: 0 0 50px 0;
    padding: 0;
    align-items: center;
}

#About {
    margin-top: 520px;
}
.image-tab {
    display: none;
}
.div-about {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
} 
.about-me-text {
    width: 50%;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    word-spacing: 2px;
}
.first-name {
    color: #4ff3ee;
}
.more-btn {
    display: none;
}
.image-container {
    width: 530px;
    height: 530px;
    border-radius: 50%;
}
.image {
    width: 100%;
    height: 530px;
    border-radius: 50%;
    object-fit: cover;
}

.arrow {
    float: right;
    color: black;
}

.card {
    width: 100%;
    background-color: #9C9C9C;
    border-radius: 10px;
    transform: scale(1);
    transition: all 200ms;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    object-fit: cover;
    width: 100%;
    height: 220px;
    border-radius: 10px 10px 0 0;
}
.card-content {
    padding: 10px;
    background-color: #9C9C9C;
    border-radius: 0 0 10px 10px;
}
.card-title {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    color: black;
    font-size: 16px;
}

.div-projects {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.div-education {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 60% 35%;
    grid-row-gap: 40px;
    justify-content: space-between;
}

.rubrics-title {
    font-family: 'Inconsolata', 'Sans-sérif';
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: 100;
    margin: 0 0 50px 0;
}
.front-end-order {
    display: flex;
    gap: 30px;
}
.resize {
    height: 200px;
}
.html {
    width: 250px;
}

footer
{
    display: flex;
    justify-content: space-around;
    margin-top: 500px;
    padding: 70px 0 70px 0;
}
.keep-in-touch-title {
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.keep-in-touch-text
{
    font-size: 16px;
    margin: 0;
    padding: 15px 0 0 0;
}
.contact-footer-button {
    width: 220px;
    height: 60px;
    font-family: 'Josefin Sans';
    text-align: center;
    background-color: black;
    font-size: 18px;
    color: #4ff3ee;
    border: 1px solid white;
    margin-top: 40px ;
    transform: scale(1);
    transition: all 200ms;
    transition-delay: 0, 150ms;
}
.contact-footer-button:hover {
    transform: scale(1.05);
    background-color: white;
}
.footer-title {
    font-size: 18px;
    padding: 0 0 20px 0;
    margin: 0;
}
footer ul {
    padding: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 15px;
}

/*Tablette*/
@media screen and (max-width: 992px) {
    .desktop-header {
        display: none;
    }
    .cv-text {
        display: none;
    }
    .download-cv-button {
        display: none;
    }
    .navigation {
        position: none;
        left: 0;
    }
    .navigation a {
        position: none;
    }
    .navigation a::after {
        content: "";
        position: none;
        background-color: none;
        height: 0;
        bottom: 0;
        transition: none;
    }
    .navigation a:hover::after {
        width: 100%;
    }
    .navigation li:hover {
        transform: none;
        transition: none;
    }
    .tab-header {
        display: flex;
    }
    .download-cv-button-tab {
        display: flex;
    }
    .mobile-header {
        display: none;
    }
    .mobile-menu {
        display: none;
    }

    .welcoming-message {
        font-size: 60px;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .image-tab {
        display: flex;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        float: right;
    }
    .image-container {
        display: none;
    }
    .about-me-text {
        width: 100%;
    }
    
    .card-title {
        font-size: 20px;
    }
    h4 span {
        display: none;
    }

    .div-education {
        display: flex;
        flex-direction: column;
    }
}
/*Mobile*/
@media screen and (max-width: 768px) {
    .mobile-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: black;
        z-index: 1;
    }
    .navigation {
        display: none;
    }
    .download-cv-button-tab {
        display: none;
    }
    .menu-nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .logo {
        display: flex;
    }
    .tab-header {
        display: none;
    }
    .mobile-header {
        display: flex;
    }
    .mobile-menu {
        display: flex;
        align-items: center;
        background-color: black;
    }
    .menu-icon {
        color: white;
    }

    .welcoming-message {
        font-size: 40px;
        gap: 20px;
    }

    .title-section {
        margin: 0;
        padding: 0;
        font-size: 30px;
    }
    .more-btn {
        display: flex;
        color: #9C9C9C;
    }
    .more {
        visibility: hidden;
    }

    .card-title {
        font-size: 14px;
    }
    .div-projects {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .div-education {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .resize {
        height: 70px;
    }
    .html {
        width: 90px;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 30px;
    }
    footer ul {
        gap: 30px;
    }
    .footer-title {
        font-size: 20px;
    }
    .navigation-footer {
        display: none;
    }
    .navigation-footer-title {
        display: none;
    }
    .contact-footer-button {
        width: 100%;
        background-color: white;
    }
}