* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: 'Josefin Sans', 'Sans-sérif';
}

ul {
    list-style-type: none;
    margin: 0;
}
.cv-text {
    font-size: 18px;
    margin: 0;
    margin-top: 38px;
    align-items: center;
    color: white;
    display: flex;
    gap: 5px ;
}
a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans';
}
.logo {
    width: 80px;
    height: 80px;
    padding-top: 10px;
}

.navigation {
    font-size: 18px;
    margin-top: 50px;
    display: flex;
    align-content: center;
    letter-spacing: 0.5px;
    gap: 50px;
    color: white;
    transform: scale(1);
}

.navigation a {
    position: relative;
}

.navigation a::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 200ms;
}

.navigation a:hover::after {
    width: 100%;
}

.navigation li:hover {
    transform: scale(1.10);
    transition: transform 200ms;

}

.contact-me {
    color: #4ff3ee;
}

.navigation .contact-me::after {
    background-color: #4ff3ee;
}

.download-cv-button {
    width: 60px;
    height: 30px;
    font-family: 'Josefin Sans';
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: black;
    font-size: 18px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transform: scale(1);
    transition: all 200ms;
    transition-delay: 0, 100ms;
}
.download-cv-button:hover {
    transform: scale(1.10);
    background-color: white;
    color: black;
}




















footer
{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid white;
    margin-top: 1500px;
    padding-top: 70px;
    padding-bottom: 70px;
}


.keep-in-touch-title {
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.keep-in-touch-text
{
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

.contact-footer-button {
    width: 220px;
    height: 60px;
    font-family: 'Josefin Sans';
    text-align: center;
    background-color: black;
    font-size: 18px;
    color: #4ff3ee;
    border: 1px solid white;
    margin-top: 40px ;
    transform: scale(1);
    transition: all 200ms;
    transition-delay: 0, 100ms;
}

.contact-footer-button:hover {
    transform: scale(1.05);
    background-color: white;
}

.footer-title {
    font-size: 19px;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
}

footer ul {
    padding: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 15px;
}

