* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: 'Josefin Sans', 'Sans-sérif';
}
ul {
    list-style-type: none;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans';
}
section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px 0 15px;
    margin-top: 200px;
}

.main-wrapper {
    max-width: 1400px;
    margin: auto;
}

.cv-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 38px 0 0 0;
    gap: 5px;
}
.logo {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}
.navigation {
    display: flex;
    align-content: center;
    position: relative;
    left: 55px;
    font-size: 18px;
    margin-top: 50px;
    gap: 50px;
    transform: scale(1);
}
.navigation a {
    position: relative;
}
.navigation a::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 200ms;
}
.navigation a:hover::after {
    width: 100%;
}
.navigation li:hover {
    transform: scale(1.15);
    transition: transform 200ms;
}

.download-cv-button {
    width: 60px;
    height: 30px;
    font-family: 'Josefin Sans';
    text-align: center;
    background-color: black;
    font-size: 18px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transform: scale(1);
    transition: all 200ms;
    transition-delay: 0, 100ms;
}
.download-cv-button:hover {
    transform: scale(1.10);
    background-color: white;
    color: black;
}
.download-cv-button-tab {
    display: none;
    width: 60px;
    height: 30px;
    font-family: 'Josefin Sans';
    text-align: center;
    background-color: white;
    font-size: 18px;
    color: black;
    border: 1px solid black;
}
.download-cv-button-tab strong {
    padding: 10px;
}

.welcoming-message {
    font-family: 'Inconsolata', 'Sans-sérif';
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 300px;
    gap: 150px;
    font-size: 90px;
}

.title-section {
    font-family: 'Inconsolata', 'Sans-sérif';
    letter-spacing: 5px;
    font-size: 45px;
    font-weight: 100;
    margin: 0 0 50px 0;
}

#About {
    margin-top: 520px;
}
.div-about {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
} 
.about-me-text {
    width: 50%;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    word-spacing: 2px;
}
.first-name {
    color: #4ff3ee;
}
.image-container {
    width: 530px;
    height: 530px;
    border-radius: 50%;
}
.image {
    width: 100%;
    height: 530px;
    border-radius: 50%;
    object-fit: cover;
}

.arrow {
    float: right;
    color: black;
}

.card {
    width: 100%;
    background-color: #9C9C9C;
    border-radius: 10px;
    transform: scale(1);
    transition: all 200ms;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
    height: 220px;
    border-radius: 10px 10px 0 0;
}
.card-content {
    padding: 10px;
    background-color: #9C9C9C;
    border-radius: 0 0 10px 10px;
}
.card-title {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    color: black;
    font-size: 16px;
}

.div-projects {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.div-education {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 60% 35%;
    grid-row-gap: 40px;
    justify-content: space-between;
}

.rubrics-title {
    font-family: 'Inconsolata', 'Sans-sérif';
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: 100;
    margin: 0 0 50px 0;
}
.front-end-order {
    display: flex;
    gap: 30px;
}
.resize {
    height: 200px;
}
.html {
    width: 250px;
}

footer
{
    display: flex;
    justify-content: space-around;
    margin-top: 500px;
    padding: 70px 0 70px 0;
}
.keep-in-touch-title {
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.keep-in-touch-text
{
    font-size: 16px;
    margin: 0;
    padding: 15px 0 0 0;
}
.contact-footer-button {
    width: 220px;
    height: 60px;
    font-family: 'Josefin Sans';
    text-align: center;
    background-color: black;
    font-size: 18px;
    color: #4ff3ee;
    border: 1px solid white;
    margin-top: 40px ;
    transform: scale(1);
    transition: all 200ms;
    transition-delay: 0, 150ms;
}
.contact-footer-button:hover {
    transform: scale(1.05);
    background-color: white;
}
.footer-title {
    font-size: 18px;
    padding: 0 0 20px 0;
    margin: 0;
}
footer ul {
    padding: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 15px;
}

/*media querries*/
/* Tablette : 992px*/

@media screen and (max-width: 992px) {
    body {
        max-width: 992px;
        padding-left: 15px;
        padding-right: 15px;
    }
    section {
        margin-top: 0px;
    }

    .cv-text {
        display: none;
    }
    .download-cv-button-tab {
        display: flex;
    }

    .welcoming-message {
        font-size: 70px;
    }

    #About {
        margin-top: 500px;
    }
    .image-container {
        width: 400px;
        height: 400px;
    }
    .image {
        height: 400px;
    }
    

    .projects-card-title-bottom {
        bottom: 10px;
    }
}