* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: 'Josefin Sans', 'Sans-sérif';
}
ul {
    list-style-type: none;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans';
}
section {
    width: 100%;
    padding: 20px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    max-width: 1400px;
    margin: auto;
    padding-right: 50px;
    padding-left: 10px;
}

.cv-text {
    font-size: 18px;
    margin: 0;
    margin-top: 38px;
    align-items: center;
    color: white;
    display: flex;
    gap: 5px ;
}
.logo {
    width: 80px;
    height: 80px;
    padding-top: 10px;
}
.navigation {
    font-size: 18px;
    margin-top: 50px;
    display: flex;
    /*position: fixed to get the navbar while scrolling */
    align-content: center;
    letter-spacing: 0.5px;
    gap: 50px;
    color: white;
    transform: scale(1);
}
.navigation a {
    position: relative;
}
.navigation a::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 200ms;
}
.navigation a:hover::after {
    width: 100%;
}
.navigation li:hover {
    transform: scale(1.10);
    transition: transform 200ms;
}
.contact-me {
    color: #4ff3ee;
}
.navigation .contact-me::after {
    background-color: #4ff3ee;
}
.download-cv-button {
    width: 60px;
    height: 30px;
    font-family: 'Josefin Sans';
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: black;
    font-size: 18px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transform: scale(1);
    transition: all 200ms;
    transition-delay: 0, 100ms;
}
.download-cv-button:hover {
    transform: scale(1.10);
    background-color: white;
    color: black;
}

.welcoming-message {
    font-family: 'Inconsolata', 'Sans-sérif';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    gap: 150px;
    font-size: 100px;
}

.title-section {
    font-family: 'Inconsolata', 'Sans-sérif';
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 50px;
}

#About {
    margin-top: 760px;
}
.div-about {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10px;
} 
.about-me-text {
    width: 50%;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    letter-spacing:0.5px;
    line-height: 25px;
    word-spacing: 2px;
}
.first-name {
    color: #4ff3ee;
}
.image-container {
    width: 550px;
    height: 550px;
    border: 1px solid black;
    border-radius: 50%;
}
.image {
    width: 100%;
    height: 550px;
    border-radius: 50%;
    object-fit: cover;
}




.div-education {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-row-gap: 35px;
    grid-column-gap: 40px;
}
.education-card {
    width: 100%;
    border: 3px solid black;
    background-color: black;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 6px #4ff3ee);
    transform: scale(1);
    transition: all 200ms;
}
.education-card:hover {
    transform: scale(1.05);
}
.card-content {
    padding: 30px 15px 30px 15px;
}
.card-title {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    color: #4ff3ee;
    font-size: 20px;
}
.card-subtitle {
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.tags {
    margin: 0;
    padding: 0;
    gap: 10px;
    display: flex;
    color: #4ff3ee;
    cursor: pointer;
}
.tags-decoration {
    margin: 0;
    border: 2px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    transition: all 200ms;
}
.tags-decoration:hover {
    background-color: white;
}
.card-description {
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-description p {
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
}

.div-projects {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.projects-cards {
    position: relative;
    width: 90%;
    height: 153px;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0px 3px 15px rgba(131, 120, 120, 0.7));
    transform: scale(1);
    transition: all 200ms;
}

.projects-cards:hover {
    transform: scale(1.05);
}
.projects-card-title {
    position: relative;
    width: auto;
    bottom: 70px;
    background-color: black;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    font-size: 18px;
}
.projects-card-title-bottom {
    bottom: 30px;
}
.image-projects-card {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: drop-shadow(0px 3px 6px rgba(131, 120, 120, 0.7));
}

.rubrics-title {
    font-family: 'Inconsolata', 'Sans-sérif';
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: 100;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}
.front-end-order {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}
.resize {
    height: 200px;
}
.html {
    width: 250px;
}

footer
{
    display: flex;
    justify-content: space-around;
    margin-top: 500px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.keep-in-touch-title {
    font-size: 35px;
    margin: 0;
    padding: 0;
}
.keep-in-touch-text
{
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}
.contact-footer-button {
    width: 220px;
    height: 60px;
    font-family: 'Josefin Sans';
    text-align: center;
    background-color: black;
    font-size: 18px;
    color: #4ff3ee;
    border: 1px solid white;
    margin-top: 40px ;
    transform: scale(1);
    transition: all 200ms;
    transition-delay: 0, 100ms;
}
.contact-footer-button:hover {
    transform: scale(1.05);
    background-color: white;
}
.footer-title {
    font-size: 19px;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
}
footer ul {
    padding: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 15px;
}

/* contact.html */

#Contact-me {
    margin-top: 200px;
}
.message-icon {
    color: #4ff3ee;
    float: right;
}
.contact-form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.form-cases {
    margin-bottom: 20px;
}
input {
    height: 50px;
    width: 100%;
    font-family: 'Josefin Sans', 'Sans-sérif';
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
    border: 2px solid white;
    outline: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: 7px;
}
input:focus {
    border: 2px solid #4ff3ee;
    color: white;
}
.capitalize {
    text-transform: capitalize;
}
select {
    height: 50px;
    width: 100%;
    font-family: 'Josefin Sans', 'Sans-sérif';
    font-weight: 700;
    padding-left: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: 7px;
    outline: none;
}
select:focus {
    border: 2px solid #4ff3ee;
}
option {
    font-weight: 700;
}
.thanks-contact-form {
    color: #4ff3ee;
}


.name-flex {
    display: inline-flex;
    width: 100%;
    gap: 15px;
}
.name-block {
    display: block;
    width: 50%;
}

